datatypes
helloWorld
totalMoney
maxNumber
oddOrEven
forLoop
whileLoop
doWhile
primeNumbers
multiple_language_robot
1480
starPattern1
starPattern2
starPattern3
starPattern4
starPattern5
floydTriangle
butterflyPattern
1
starPattern6
starPattern7
starPattern8
starPattern9
starPattern10
starPattern11
9
starPattern12
prime
reverseNumber